@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

@font-face {
  font-family: 'D-DIN';
  font-style: normal;
  font-weight: normal;
  src: local('D-DIN Regular'), url('/fonts/D-DIN.woff') format('woff');
}

@font-face {
  font-family: 'D-DIN';
  font-style: italic;
  font-weight: normal;
  src: local('D-DIN DIN-Italic'), url('/fonts/D-DIN-Italic.woff') format('woff');
}

@font-face {
  font-family: 'D-DIN';
  font-style: normal;
  font-weight: bold;
  src: local('D-DIN DIN-Bold'), url('/fonts/D-DIN-Bold.woff') format('woff');
}

@font-face {
  font-family: 'D-DIN-Con';
  font-style: normal;
  font-weight: normal;
  src: local('D-DIN Condensed Regular'),
    url('/fonts/D-DINCondensed.woff') format('woff');
}

@font-face {
  font-family: 'D-DIN-Con';
  font-style: normal;
  font-weight: bold;
  src: local('D-DIN Condensed DINCondensed-Bold'),
    url('/fonts/D-DINCondensed-Bold.woff') format('woff');
}

@font-face {
  font-family: 'D-DIN-Exp';
  font-style: normal;
  font-weight: normal;
  src: local('D-DIN Exp Regular'), url('/fonts/D-DINExp.woff') format('woff');
}

@font-face {
  font-family: 'D-DIN-Exp';
  font-style: italic;
  font-weight: normal;
  src: local('D-DIN Exp DINExp-Italic'),
    url('/fonts/D-DINExp-Italic.woff') format('woff');
}

@font-face {
  font-family: 'D-DIN-Exp';
  font-style: normal;
  font-weight: bold;
  src: local('D-DIN Exp DINExp-Bold'),
    url('/fonts/D-DINExp-Bold.woff') format('woff');
}
